* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(10, 70, 45);
  color: white;
  padding: 0.5rem 3rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  max-width: 250px;
  width: 100%;
}

.headerLinks {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.contactLink,
.aboutUsLink {
  color: white;
  text-decoration: none;
}

.loginLink {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  transition: background 0.3s;
}

.loginLink:hover {
  background-color: white;
  color: #1b5e20;
}

.main {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 2rem 3rem;
  min-height: 100dvh;
}

.imageWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.imageName {
  font-style: italic;
  color: #555;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: rgb(10, 70, 45);
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.ul,
.ol {
  padding-left: 1.5rem;
  line-height: 1.8;
}

.li {
  margin-bottom: 0.5rem;
}

.sectionImage {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.imageSection {
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.footer {
  background-color: #045D38;
  color: white;
  padding: 40px 20px 20px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footerImg {
  width: 120px;
  margin-bottom: 10px;
}

.footerImgFig {
  font-size: 14px;
}

.footerTitle {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-social a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #067849;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 13px;
}

@media (width <=768px) {
  .headerLogo {
    max-width: 150px;
  }

  .headerLinks {
    gap: 0.3rem;
  }

  .contactLink,
  .aboutUsLink,
  .loginLink {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@media (width <=425px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .contactLink,
  .aboutUsLink,
  .loginLink {
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  .copy {
    font-size: 0.8rem;
  }
}